<div class="first-section mat-primary">
  <div class="main-card-container">
    <md-card class="main-card">

      <md-card-title>Bienvenue sur le site du BDE d'YNOV LYON !</md-card-title>
      <img md-card-image src="assets/diapo-bde.jpg">

      <md-card-content>
        <p>
          Découvrez notre campus et les actions réalisées pas le Bureau des étudiants d'YNOV Lyon !
        </p>
      </md-card-content>
      <md-card-actions class="main-actions">
        <button color="primary" class="main-button" md-button>Découvrir<br /><md-icon>expand_more</md-icon>
        </button>
      </md-card-actions>
    </md-card>
  </div>
</div>
